.container {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
    padding: 0 14px;
}

.logo {
    max-width: 227px;
}

.title {
    color: #fff;
    text-align: center;
    margin: 24px 0;
}

.form label {
    color: #fff;
    font-size: 20px;
}

.input {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    padding: 0 14px;
    margin-bottom: 16px;
    margin-top: 8px;
}

.button {
    width: 100%;
    height: 48px;
    background-color: #119cea;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
