* {
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #22272e;
    height: 100vh;
    jusitfy-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
